* {
    transition: all 0.4s, display 0s;
    font-family: 'Inter', sans-serif;
}

.hidden {
    visibility: hidden;
    position: absolute;
}

.active {
    color: #ffffff !important;
    fill: #ffffff !important;
    stroke: #ffffff !important;
}

.pointer {
    cursor: pointer;
}

body {
    background-color: #000;
    color: white;
}

a {
    text-decoration: none;
    color: #B3B3B3;
}

.active-green {
    color: #00ff00 !important;
    stroke: #00ff00 !important;
}