.hidden {
    visibility: hidden;
    position: absolute;
}

.active {
    color: #fff !important;
}

.pointer {
    cursor: pointer;
}

* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #000;
    color: white;
}

a {
    text-decoration: none;
    color: #B3B3B3;
}
