@media (max-width: 1600px) {
  .recent-block {
    height: 64px !important;
    font-size: 1rem;
  }
}
@media (max-width: 1366px) {
  #slider {
    width: 500px !important;
  }
}
@media (max-width: 1140px) {
  .recent-block {
    height: 48px !important;
    font-size: 0.875rem;
  }
  #slider {
    width: 300px !important;
  }
}
@media (max-width: 1000px) {
  .recent-container {
    -ms-grid-columns: 0.5fr 0.5fr !important;
    grid-template-columns: 0.5fr 0.5fr !important;
    -ms-grid-rows: 0.25fr 0.25fr 0.25fr 0.25fr !important;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr !important;
  }
  .recent-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .recent-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .recent-container > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .recent-container > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .recent-container > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .recent-container > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .recent-container > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .recent-container > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
}
@media (max-width: 767px) {
  .sidebar {
    max-width: 60px !important;
  }
  .sidebar .upper-side-block p {
    display: none;
    margin: auto;
  }
  .player {
    height: 100px !important;
  }
  .player #music-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .player #music-line {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
    gap: 20px !important;
  }
  .player .volume {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40px;
  }
  .player .volume img {
    position: relative;
    margin-right: 20px !important;
  }
  .player .volume img {
    margin-right: 5px;
  }
  .player .volume #volume::-webkit-slider-thumb {
    min-height: 15px !important;
    min-width: 10px !important;
  }
  .player .volume #volume {
    rotate: 270deg;
    position: relative;
    left: 15px;
    bottom: 65px;
    min-height: 15px !important;
    margin: 0;
  }
  .main {
    margin-left: 60px !important;
  }
}
@media (max-width: 560px) {
  #slider {
    width: 250px !important;
  }
}
@media (max-width: 460px) {
  #slider {
    width: 150px !important;
  }
}