* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #000;
  color: white;
}

a {
  text-decoration: none;
  color: #B3B3B3;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  max-width: 350px;
  width: 100%;
  position: fixed;
  overflow: hidden;
}
.sidebar .sidebar-block {
  background-color: #121212;
  color: white;
  border-radius: 8px;
  padding: 8px 12px;
}
.sidebar .upper-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #B3B3B3;
  font-weight: 600;
}
.sidebar .upper-side .upper-side-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.sidebar .upper-side .upper-side-block .icon {
  width: 40px;
}
.sidebar .upper-side #search img {
  max-width: 30px;
  margin: 0 7px 0 3px;
}
.sidebar .lower-side {
  height: 100vh;
}

.main {
  margin-left: 350px;
  position: relative;
  padding: 21px;
}
.main .other-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}
.main .other-container .other-block {
  padding: 16px;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 8px;
  overflow: hidden;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.main .other-container .other-block .other-text {
  margin: 0;
}

.active {
  color: #fff !important;
}

.pointer {
  cursor: pointer;
}