
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 350px;
    width: 100%;
    position: fixed;
    overflow: hidden;

    .sidebar-block {
        background-color: #121212;
        color: white;
        border-radius: 8px;
        padding: 8px 12px;
    }

    .upper-side {
        display: flex;
        flex-direction: column;
        color: #B3B3B3;
        font-weight: 600;
        
        .upper-side-block {
            display: flex;
            gap: 15px;
    
            .icon {
                width: 40px;
            }
        }
    
        #search img {
            max-width: 30px;
            margin: 0 7px 0 3px;
        }
    }

    .lower-side {
        height: 100vh;
    }
}

.main {
    margin-left: 350px;
    position: relative;
    padding: 21px;
    
    .other-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 20px;

        .other-block {
            padding: 16px;
            font-weight: 700;
            font-size: 1.5rem;
            border-radius: 8px;
            overflow: hidden;
            text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;

            .other-text {
                margin: 0;
            }
        }
    }
}
