.sidebar {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 250px;
    width: 100%;
    position: fixed;
    overflow: hidden;

    .sidebar-block {
        background-color: #121212;
        color: white;
        border-radius: 8px;
        padding: 8px 12px;
    }

    .upper-side {
        display: flex;
        flex-direction: column;
        color: #B3B3B3;
        font-weight: 600;
        
        .upper-side-block {
            display: flex;
            align-items: center;
            gap: 15px;
    
            .icon {
                max-width: 40px !important;
                width: 40px !important;
                max-height: 40px !important;
                height: 40px !important;
            }
        }
    
        #search svg {
            max-width: 35px;
            margin-left: 2px;
            margin-right: 3px;
        }
    }

    .lower-side {
        height: 100vh;
    }
}

#search-system {
    position: fixed;
    top: -1000px;
    right: 10px;
    z-index: 100;
    max-width: 400px;
    min-width: 200px;
    width: 95%;
    background-color: #121212;
    transition: all 0.4s;
    display: none;
    
    input {
        appearance: none;
        text-decoration: none;
        outline: none;
        background-color: transparent;
        border: none;
        border: 1px solid white;
        border-top: 0;
        padding: 5px;
        width: 97%;
        padding-top: 15px;
        padding-bottom: 15px;
        color: white;
    }
}

.open-slide {
    top: 0 !important;
}

.main {
    margin-left: 250px;
    margin-bottom: 125px;
    position: relative;
    padding: 21px;
    
    .recent-container {
        display: grid;
        grid-template-columns: 0.33fr 0.33fr 0.33fr;
        grid-template-rows: 0.33fr 0.33fr 0.33fr;
        gap: 8px;
        
        .recent-block {
            display: flex;
            align-items: center;
            gap: 5px;
            background-color: #242424;
            border-radius: 4px;
            height: 80px;
            
            .recent-image {
                height: 100%;
                border-radius: 4px 0 0 4px;
            }
        }
    }
    
    .block-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 20px;
        
        .music-block {
            padding: 30px;
            position: relative;
            word-wrap: break-word;
            background-color: #202020;
            border-radius: 8px;

            .music-image {
                width: 100%;
                border-radius: 8px;
            }
        }
    }
}

#music-info {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-left: 10px;

    img {
        height: 72px;
    }

    p {
        margin: 0;
        max-width: 400px;
    }
}

#player {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 72px;
    max-width: 1920px;
    width: 100%;
    padding: 10px 0 15px 0;
    display: flex;
    justify-content: space-between;
    background-color: black;


    #music-line {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        

        .some-block {
            display: flex;
            align-items: center;

            .direction {
                width: 30px;
                cursor: pointer;
            }
            
            .rotateD {
                rotate: 180deg;
            }

            #play {
                cursor: pointer;
            }
        }
    }
}

#slider {
    appearance: none;
    width: 600px;
    margin: 0;
    padding: 0;
    height: 5px;
    outline: none;
    background-color: #6f6f6f;
}


#slider:hover {
    transform: scaleY(1.7);
}

#volume::-webkit-slider-thumb, #slider::-webkit-slider-thumb {
  position: relative;
  appearance: none;
  box-sizing: content-box;
  height: 5px;
  width: 7px;
  background-color: #fff;
  cursor: pointer;
}

#volume::-webkit-slider-thumb {
    height: 8px;
}

.volume {
    display: flex;
    align-items: center;
    height: 20px;
    gap: 10px;
    margin-right: 10px;
    align-self: flex-end;

    .volume-icon {
        max-width: 20px;
        cursor: pointer;
    }
}

#volume {
    appearance: none;
    -webkit-appearance: none;
    box-sizing: content-box;
    outline: none;
    background-color: #6f6f6f;
    width: 100px;
    height: 5px;
}

.play {
    position: absolute;
    right: 15%;
    width: 25%;
    top: 40%;
}

.height-limit {
    height: 19px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.greet-text {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
}

body {
    overflow-x: hidden;
  }