
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 350px;
    width: 100%;
    position: fixed;
    overflow: hidden;

    .sidebar-block {
        background-color: #121212;
        color: white;
        border-radius: 8px;
        padding: 8px 12px;
    }

    .upper-side {
        display: flex;
        flex-direction: column;
        color: #B3B3B3;
        font-weight: 600;
        
        .upper-side-block {
            display: flex;
            gap: 15px;
    
            .icon {
                width: 40px;
            }
        }
    
        #search img {
            max-width: 30px;
            margin: 0 7px 0 3px;
        }
    }

    .lower-side {
        height: 100vh;
    }
}

.main {
    margin-left: 350px;
    position: relative;
    padding: 21px;
    
    .recent-container {
        display: grid;
        grid-template-columns: 0.33fr 0.33fr 0.33fr;
        grid-template-rows: 0.33fr 0.33fr 0.33fr;
        gap: 8px;
        
        .recent-block {
            display: flex;
            align-items: center;
            gap: 5px;
            background-color: #242424;
            border-radius: 4px;
            height: 80px;
            
            .recent-image {
                height: 100%;
                border-radius: 4px 0 0 4px;
            }
        }
    }
    
    .block-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 20px;
        
        .music-block {
            padding: 10px;

            .music-image {
                width: 100%;
            }
        }
    }
}

#music-info {
    display: flex;
    align-items: center;

    img {
        height: 100%;
    }
}

#player {
    position: fixed;
    left: 0;
    bottom: 100px;
    height: 72px;
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    #music-line {
        display: flex;
        flex-direction: column;
        align-items: center;

        .some-block {
            display: flex;
            align-items: center;

            span {
                scale: 3;
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }
}

input[type="range"] {
  appearance: none;
  width: 50%;
  margin: 0;
  padding: 0;
  height: 5px;
  outline: none;
  background-color: #6f6f6f;
}


input[type="range"]:hover {
    transform: scaleY(1.7);
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  appearance: none;
  box-sizing: content-box;
  height: 5px;
  width: 7px;
  background-color: #fff;
  cursor: pointer;
}

